<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.lancit.domain.chat.mapper.MessageMapper">

<!--    <resultMap id="MessageResultMap" type="com.ssafy.lancit.domain.chat.dto.MessageDTO">
        <id     property="messageId"   column="message_id"/>
        <result property="chatRoomId"  column="chat_room_id"/>
        <result property="senderEmail" column="sender_email"/>
        <result property="messageType" column="message_type"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="message"     column="message"/>
        <result property="isDeleted"   column="is_deleted"/>
        <result property="isUpdated"   column="is_updated"/>
        <result property="createdAt"   column="created_at"/>
    </resultMap>-->


    <!-- 메시지 저장 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO message (chat_room_id, sender_email, message_type, message,
                             is_deleted, is_updated, created_at)
        VALUES (#{chatRoomId}, #{senderEmail}, #{messageType}, #{message},
                false, false, NOW())
    </insert>


    <!-- 무한스크롤 조회 (lastMessageId 없으면 최신부터) -->
	<select id="findMessages" resultType="MessageDTO">
	    SELECT * FROM (
	        SELECT m.*,
	               mf.file_id AS fileId,
	               f.ori_name AS fileName
	        FROM message m
	        LEFT JOIN message_file mf ON m.message_id = mf.message_id
	        LEFT JOIN file f ON mf.file_id = f.file_id
	        WHERE m.chat_room_id = #{chatRoomId}
	        <if test="lastMessageId != null">
	            AND m.message_id &lt; #{lastMessageId}
	        </if>
	        ORDER BY m.message_id DESC
	        LIMIT #{size}
	    ) sub
	    ORDER BY message_id ASC
	</select>


    <!-- 단건 조회 -->
	<select id="findById" resultType="MessageDTO">
	    SELECT m.*,
	           mf.file_id AS fileId,
	           f.ori_name AS fileName
	    FROM message m
	    LEFT JOIN message_file mf ON m.message_id = mf.message_id
	    LEFT JOIN file f ON mf.file_id = f.file_id
	    WHERE m.message_id = #{messageId}
	</select>


    <!-- 소프트 삭제 -->
    <update id="softDelete">
        UPDATE message
        SET is_deleted = true
        WHERE message_id = #{messageId}
    </update>


    <!-- 메시지 수정 -->
    <update id="update">
        UPDATE message
        SET message    = #{content},
            is_updated = true
        WHERE message_id = #{messageId}
    </update>

</mapper>