<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.lancit.domain.recruitment.post.mapper.RecruitmentMapper">
 
    <!-- TODO 영은: SQL 작성 -->
    <!--지원 필요 작성 : 아이디가지고 공고문 찾기-->
 	<select id="findById" resultType="com.ssafy.lancit.domain.recruitment.post.dto.RecruitmentDTO">
	    SELECT *
	    FROM recruitment
	    WHERE recruitment_id = #{recruitmentId}
	</select>
</mapper>
 