<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.lancit.domain.user.mapper.UserMapper">

    <!--이메일로 유저 dto 가져오기-->
    <select id="findByEmail" resultType="UserDTO">
		SELECT * from user where email= #{email}
    </select>

    <!--회원 가입 -->
    <insert id="insert">
		INSERT INTO user (email, password, name, phone, job_category , pushable)
		values (#{email}, #{password}, #{name}, #{phone}, #{job_category}, #{pushable})
    </insert>

    <!-- 유저 수정 -->
    <update id="update">
	    UPDATE user
	    SET
	        name = #{name},
	        phone = #{phone},
	        job_category = #{jobCategory},
	        pushable= #{pushable},
	        profile_file_id = #{profileFileId}
	    WHERE email = #{email}
	</update>

    <!-- 회원 이메일 중복 체크 -->
    <select id="existsByEmail" resultType="boolean">
		SELECT COUNT(*) > 0 FROM user WHERE email=#{email}
    </select>

    <!-- 비밀번호 업데이트 -->
    <update id="updatePassword">
		UPDATE user
		SET password = #{password}
		WHERE email= #{email}
    </update>
    
    <!--회원 탈퇴-->
	<delete id="delete">
		DELETE FROM user WHERE email = #{email}
	</delete>
</mapper>