<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.lancit.domain.user.mapper.UserMapper">

    <!--이메일로 유저 dto 가져오기-->
    <select id="findByEmail" resultType="UserDTO">
		SELECT * from user where email= #{email}
    </select>

    <!--회원 가입 -->
    <insert id="insert">
		INSERT INTO user (email, password, name, phone, job_category , pushable)
		values (#{email}, #{password}, #{name}, #{phone}, #{jobCategory}, #{pushable})
    </insert>

    <!-- 유저 수정 -->
    <update id="update">
	    UPDATE user
	    <set>
	        name = #{name},
	        phone = #{phone},
	        job_category = #{jobCategory},
	        pushable = #{pushable}
	
	        <if test="profileFileId != null">
	            ,profile_file_id = #{profileFileId}
	        </if>
	    </set>
	    WHERE email = #{email}
	</update>

    <!-- 회원 이메일 중복 체크 -->
    <select id="existsByEmail" resultType="boolean">
		SELECT COUNT(*) > 0 FROM user WHERE email=#{email}
    </select>

    <!-- 비밀번호 업데이트 -->
    <update id="updatePassword">
		UPDATE user
		SET password = #{password}
		WHERE email= #{email}
    </update>
    
    <!--회원 탈퇴-->
	<update id="softDelete">
	    UPDATE user
	    SET
	        is_deleted = 1,
	        deleted_at = NOW()
	    WHERE email = #{email}
	</update>
	
	<!-- 프리랜서 목록 조회 -->
	<select id="searchFreelancers" resultType="com.ssafy.lancit.domain.user.dto.UserDTO">
	    SELECT u.*
	    FROM user u
	    <if test="bookmarked">
	        INNER JOIN bookmark b
	            ON b.freelancer_email = u.email
	            AND b.company_email = #{companyEmail}
	    </if>
	    <where>
	        <if test="keyword != null and keyword != ''">
	            AND u.name LIKE CONCAT('%', #{keyword}, '%')
	        </if>
	        <if test="jobCategory != null">
	            AND u.job_category = #{jobCategory}
	        </if>
	    </where>
	    ORDER BY u.${sort} ${direction}
	    LIMIT #{size} OFFSET #{offset}
	</select>
	
	<!-- 프리랜서 전체 개수 -->
	<select id="countFreelancers" resultType="long">
	    SELECT COUNT(*)
	    FROM user u
	    <if test="bookmarked">
	        INNER JOIN bookmark b
	            ON b.freelancer_email = u.email
	            AND b.company_email = #{companyEmail}
	    </if>
	    <where>
	        <if test="keyword != null and keyword != ''">
	            AND u.name LIKE CONCAT('%', #{keyword}, '%')
	        </if>
	        <if test="jobCategory != null">
	            AND u.job_category = #{jobCategory}
	        </if>
	    </where>
	</select>

</mapper>